@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
/* Header container css */
.header-container {
  width: 990px;
  margin: 14px auto;
  display: flex;
  padding: 12px;
  /* border:2px solid red; */
  align-items: center;
}
.header-container header {
  display: flex;
  width: 100%;  
  padding: 12px 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
header span{
  font-weight:800;
  color: #1E0E62;

  font-size: 24px;
}
.nav-links {
  display: flex;
}
.nav-items {
  color: #15143966;
  margin: 0 23px;
  width: 33px;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;

}
.nav-items:hover{
text-decoration:underline;
cursor:pointer;
}
.btn {
  margin: 0 12px;
  font-size: 16px;
  line-height: 22px;
}
.btn-primary {
  outline: none;
  border: none;
  background-color: #fff;
  color: #25dac5;
  cursor: pointer;
}
.btn-second {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  background-color: #25dac5;
  color: white;
  font-weight: 500;
  font-size: 18px;  
  text-align: center;
  cursor: pointer;
}
/* main container css */
.main-container .section-1 {
  width: 990px;
  /* border:2px solid red; */
  margin:0 auto 100px auto ;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
}
.section-1 h1 {
  text-align: center;
  color: #1e0e62;
  width: 700px;
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section-1 p {
  width: 600px;
  font-size: 22px;
  text-align: center;
  color: #15143966;
  margin-bottom: 4rem;
  /* border:2px solid red; */
}
.section-1 a {
  text-decoration: none;
  background: #e93a7d;
  width: 180px;
  text-align: center;
  padding: 20px 45px;
  border-radius: 45px;
  margin-right:40px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 500;

}
.main-container .section-2 {
  width: 990px;
  /* border:2px solid red; */
  padding: 12px;
  margin: 0 auto;
}
.main-container .section-2 .list-items {
  display: flex;
  /* width: 1300px; */
  /* border:2px solid red; */
  justify-content: space-between;
}
.section-2 .list-items .items {
  display: flex;
  /* width: 200px; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.items img {
  width: 180px;
  align-items: center;
  margin-bottom: 30px;
 
}
.items p {
  text-align: center;
  font-size: 18px;
  width: 220px;
  color: #15143966;
}
.lines {
  border-right: 2px solid #ebeaed;
  border-left: 2px solid #ebeaed;
  padding: 0 100px;
}
