@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}
h1{
  font-size: 44px;
}
p{
  font-size: 18px;
}
h2{
  font-size: 26px;
}

.container {
  width: 1200px;    
}

.btn {
  display: flex;
  width: 208px;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background: #ff6464;
  
}
.btn a{
  color: white;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin:0 auto;
}

.bgSky {
  background: #edf7fa;
  margin-bottom:50px;
  padding:20px 0;
}

.ulSection{
  display: flex;
  gap:20px;
  list-style: none;
  font-weight: 5  00;

}
.ulSection li a{
  font-size: 20px;
  color:black;
  text-decoration: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a{
  text-decoration: none;
  font-size: 22px;
  color: #142850;
  list-style: none;
}
.img{
 
 
width: 243px;
height: 243px;
border-radius: 50%;
overflow: hidden;
 object-fit: contain;
  box-shadow:0 13px  #EDF7FA;

}
.MainCon1{
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

}
.MainCon2{
  margin: auto;
  justify-content: space-around;
 align-items: center;

}
.MainCon3{
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.mainItems{
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  margin: auto;  font-weight: 400px;
  align-items: center;
}
.mainItems1{
  font-size: 22px;
}
.mainItems2{
  font-size: 16px;
color: #00A8CC;
cursor: pointer;

}
.mainContents{
  display: flex;
  gap:20px;
  justify-content: center;
  padding: 10px 20px;
}
.cursorPointer{
    cursor:pointer;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  width: 425px;
  height:295px;
  padding:10px 20px;
  background: #ffffff;
  border-radius: 4px;
}
.cardContainer h2 {
  font-size: 30px;
  font-weight: 700;
}
.cardContent{
  display:flex;
  font-weight: 400;
  font-size: 18px;
  gap:40px;
  line-height: 100%;
  letter-spacing: 0px;
}
.cardItems{
  font-weight: 700;
  gap: 30px;
  display: flex;
  align-items: center;
}
.mainItemsFeatures{
  display: flex;
  justify-content: start;
  font-weight: 400;
  font-size: 22px;
  margin:0 120px;
  align-items: center;

}
.cardFeature{   
display:flex;
justify-content:space-around;
cursor: pointer;

margin:20px 100px;
align-items:center;
gap:30px;
border-bottom:1px solid #E0E0E0;

}
.cardFeature h2{
    font-weight: 700;
    font-size: 30px;
    
}
.cardFeatureDiv2{
margin-bottom: 45px;
cursor: pointer;
}
.item2{
  color: #8695A4;
  font-weight: 400;
  font-size: 22px;
  
}
.bg-h{
  background-color: #E0E0E0;
}
.border-b{
  border-bottom: 1px solid #E0E0E0;
}

footer{
  margin: 0 auto 100px auto;
  
}
.item{
 background: #142850;
 color: white;
 border-radius: 15px;
 padding: 5px 30px;
}
.ulFooter{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 2px;
  gap:35px;
  text-decoration: none;
  list-style: none;
}

footer div{
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* no more br only in heading if needed  only container  */