@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 20px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
}
h2 {
  font-size: 26px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.btn {
  display: flex;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background: #ff6464;
}

.btn a {
  color: white;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin: 0 auto;
}

.PostSection {
 background: #EDF7FA;

  /* margin-bottom: 50px; */
  padding: 32px 0;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 5 00;
}
.navLinks li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.toggleMenu{
  display: none;
}
.logo a {
  text-decoration: none;
  font-size: 22px;
  color: #142850;
  list-style: none;
}
.imgWrapper {
  width: 243px;
  height: 243px;
  overflow: hidden;
  
  box-shadow: 0 13px #edf7fa;
  border-radius: 100%;
}
img {
  /* border-radius: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}
.FirstSection {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
}
.HeroSection {
  display: flex;
  /* border: 2px solid red; */
  text-align: start;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 20px;
  gap: 80px;
}
.HeroSection p {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 35px;
}
.MainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0.9;
}

.Cards {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 50px;

  justify-content: space-between;
}

.PostItems {
  display: flex;
  justify-content: space-between;
 margin-bottom: 20px;
  font-weight: 400px;
  padding: 0 20px;
  align-items: center;
}
.Item {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;
  vertical-align: bottom;
}
.Items2 {
  font-size: 16px;
  color: #00a8cc;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
}

.card {
  display: flex;
  flex-direction: column;
  /* max-width: 418px;
  max-height: 295px; */
  padding:24px;
  background: #ffffff;
  border-radius: 4px;
  /* opacity: 1; */
  /* border-radius: 4px; */
}
.card h2 {
font-weight: 700;
font-size: 26px;
color:  #21243D;
margin-bottom: 30px;
line-height: 100%;
letter-spacing: 0px;

}

.cardDate  {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  gap: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 40px;
}
.FeatureSection{
  padding:50px 0;
}
.Features{
  display: flex;
  flex-direction: column;
  padding:0 20px;
  
}
.Feature{
  display: flex;
 gap:20px;
 
 margin-bottom:20px;
 padding-bottom:20px;
 border-bottom: 1px solid #E0E0E0;
}

.Feature h2{

font-weight: 700;
font-size: 30px;
margin-bottom: 20px;
line-height: 100%;
letter-spacing: 0px;

}

.cardData {
  font-weight: 700;
  gap: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.FeatureHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400px;
line-height: 60px;
letter-spacing: 0px;
padding: 0 20px;
  align-items: center;
}
.FeatureImage{
width:50%;
object-fit:cover;
}
.FeatureImage img{
  border-radius:10px;

}
.cardFeature {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  margin: 20px 100px;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.cardFeature h2 {
  font-weight: 700;
  font-size: 30px;
}
.cardFeatureDiv2 {
  margin-bottom: 45px;
  cursor: pointer;
}
.cardItem2 {
  color: #8695a4;
  font-weight: 400;
  font-size: 22px;
}
.bg-h {
  background-color: #e0e0e0;
}
.border-b {
  border-bottom: 1px solid #e0e0e0;
}

footer {
  margin-bottom: 10px;
}
.cardItem {
  background: #142850;
  color: white;
  border-radius: 15px;
  padding: 5px 30px;
}
.ulFooter {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 2px;
  gap: 35px;
  text-decoration: none;
  list-style: none;
}

footer div {
  display: flex;
  justify-content: center;
  font-weight: 400;
}
@media screen and (max-width:767px) {
  .HeroSection{
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }
  .navLinks{
    display: none;
  }
  .toggleMenu{
    display:flex;
  }
  .MainContent{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Cards{
    flex-wrap: wrap;
  }
  .card h2{
    font-size: 22px;
  }
  .cardDate span {
    font-size: 16px;
  }
  .PostItems{
    justify-content: center;
  }
  .Items2{
    display: none;
  }
  .FeatureHeading{
 justify-content: center;
  }
  .Feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .FeatureImage{
    display: flex;
    justify-content: center;
    align-items: center;

width:100%;
object-fit:cover;
}
  


}
@media screen and (max-width:991px) {
  .HeroSection{
    padding: 0 20px;
    gap: 40px;
  }
  .PostSection{
    padding-bottom: 50px;
    margin-bottom: 0;
  }
 
.PostItems{
  padding:0 20px;
}
  .Cards{
    gap:20px;
    padding:0 20px;
  }
  .card{
    padding:15px;
  }
  .FeatureHeading{
    padding: 0 20px;
  }
  .Features{
    padding: 0 20px;
  }
.FeatureImage{
width:100%;
object-fit:cover;
}
}
